.navigation__box{
    position: fixed;
    top:0%;
    left: 0%;
    background:black;
    height:100vh;
    width: 50%;
    text-align: center;
    animation: navigationSlider linear 800ms; 
}
@keyframes navigationSlider {
    0%{width: 0;}
    25%{width: 15%;}
    50%{width: 25%;}
    75%{width: 40%;}
    100%{width: 50%;}
}
@media screen  and (min-width:425px){
    .navigation__box{
        width: 25%;
        animation: navigationSlider linear 500ms; 
    }
    @keyframes navigationSlider {
        0%{width: 0;}
        25%{width: 10%;}
        50%{width: 15%;}
        75%{width: 20%;}
        100%{width: 25%;}
    }
}
.navbar{
    border-top: 1px solid gray;
    padding: 2rem 1rem;
}
.navbar>ul{
    flex-direction: column;
}
.navbar>ul>li{
    padding: 1rem 0;
    width: 100%;
}